services:
  streamlit-app:
    build:
      context: .
      dockerfile: Dockerfile
    image: danfegerador:1.0
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1